<% if(typeof success === 'string') { %>
    <div class="alert alert-success" >
        <%= success %>
    </div>
<% } %>
<% if(typeof error === 'string') { %>
    <div class="alert alert-danger" >
        <%= error %>
    </div>
<% } %>